.container  {
  /*item列表高度设置为0*/
  height: 100%;
  
  .el-submenu__title:hover{
      background: red;
  }
  
  .el-submenu__title:hover{
      font-size: 18px;
      
  }

}

.header{
    height: 60px;
}
.yellow-line{
    height: 8px;
    background: -webkit-linear-gradient(#FBE2C4, #FAF2E7); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#FBE2C4, #FAF2E7); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#FBE2C4,#FAF2E7); /* Firefox 3.6 - 15 */
    background: linear-gradient(#FBE2C4, #FAF2E7); /* 标准的语法（必须放在最后） */
}
.yellow-line-2{
     height: 30px;
     background: -webkit-linear-gradient(#EEEEEE, #FFFFFF); /* Safari 5.1 - 6.0 */
     background: -o-linear-gradient(#EEEEEE, #FFFFFF); /* Opera 11.1 - 12.0 */
     background: -moz-linear-gradient(#EEEEEE,#FFFFFF); /* Firefox 3.6 - 15 */
     background: linear-gradient(#EEEEEE, #FFFFFF); /* 标准的语法（必须放在最后） */
}

.main {
    display: flex;
    // background: #324057;
    position: absolute;
    top: 98px;
    bottom: 0px;

    .menuitem {
      font-size: 22px;
    }
    .menu-collapsed {
      margin-top: -32px;
      flex: 0 0 260px;
      width: 70px;

    }
    .menu-expanded {
      /*flex: 0 0 180px;*/
     margin-top: -32px;
      width: 65px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
    } 
    
    .el-menu-item{
      padding-left: 100px;
      background: #FCF8F9;
      color:  #FA841A;
    }
    
    .el-button:hover,.el-menu-item:focus, .el-menu-item:hover,.el-submenu__title:hover{
            outline: 0;
            background-color: #FA841A;
            color: white;
    }
    
}

.right-content{
   flex:1;
   border: 1px solid #EEEEEE;

}

.menu-img{
   margin: 0 auto;
}
.menu-line{

      flex: 0 0 8px;
      width: 8px;
      height: 10000px;
      margin-top: -38px;
      z-index: 1000;
      background: -webkit-linear-gradient(left, #FBE2C4, #FAF2E7); /* Safari 5.1 - 6.0 */
      background: -o-linear-gradient(right, #FBE2C4, #FAF2E7); /* Opera 11.1 - 12.0 */
      background: -moz-linear-gradient(right, #FBE2C4, #FAF2E7); /* Firefox 3.6 - 15 */
      background: linear-gradient(to right, #FBE2C4, #FAF2E7); /* 标准的语法（必须放在最后） */
   }
  .menu-line-2{
      flex: 0 0 30px;
      width: 30px;
      height: 10000px;
      margin-top: -12px;
      z-index: 1000;
      background: -webkit-linear-gradient(left, #EEEEEE, #FFFFFF); /* Safari 5.1 - 6.0 */
      background: -o-linear-gradient(right, #EEEEEE, #FFFFFF); /* Opera 11.1 - 12.0 */
      background: -moz-linear-gradient(right, #EEEEEE, #FFFFFF); /* Firefox 3.6 - 15 */
      background: linear-gradient(to right, #EEEEEE, #FFFFFF); /* 标准的语法（必须放在最后） */
  } 
 .menu-line-right{

      flex: 0 0 30px;
      width: 30px;
      height: 10000px;
      margin-top: -12px;
      z-index: 1000;
      background: -webkit-linear-gradient(left, #FFFFFF , #EEEEEE); /* Safari 5.1 - 6.0 */
      background: -o-linear-gradient(right, #FFFFFF , #EEEEEE); /* Opera 11.1 - 12.0 */
      background: -moz-linear-gradient(right, #FFFFFF , #EEEEEE); /* Firefox 3.6 - 15 */
      background: linear-gradient(to right, #FFFFFF , #EEEEEE); /* 标准的语法（必须放在最后） */
    }


    
.el-button+.el-button{
    margin-left: 0;
}

.el-submenu__title i{
    font-size: 22px;
    color: #E47718;
}

