.container  {
  /*item列表高度设置为0*/
  height: 100%;
  
  .el-submenu__title:hover{
      background: red;
  }
  
  .el-submenu__title:hover{
      font-size: 18px;
      
  }

}

.header{
    height: 60px;
}
.yellow-line{
    height: 38px;
    background: -webkit-linear-gradient(#FCECDD, #F7F7F7); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#FCECDD, #F7F7F7); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#FCECDD, #F7F7F7); /* Firefox 3.6 - 15 */
    background: linear-gradient(#FCECDD, #F7F7F7); /* 标准的语法（必须放在最后） */
}

.main {
    display: flex;
    // background: #324057;
    position: absolute;
    top: 98px;
    bottom: 0px;

    .menuitem {
      font-size: 22px;
    }
    .menu-collapsed {
      margin-top: -32px;
      flex: 0 0 260px;
      width: 70px;

    }
    .menu-expanded {
      /*flex: 0 0 180px;*/
     margin-top: -32px;
      width: 65px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
    } 
    
    .el-menu-item{
      padding-left: 100px;
      color:  #FA841A;
    }
    
    .el-button:hover,.el-menu-item:focus, .el-menu-item:hover,.el-submenu__title:hover{
            outline: 0;
            background-color: #FA841A;
            color: white;
    }
    
}

.right-content{
   flex:1;
   border: 1px solid red;
   background: #EEEEEE;
}

.menu-img{
   margin: 0 auto;
}
.menu-line{

      flex: 0 0 38px;
      width: 38px;
      height: 10000px;
      margin-top: -20px;
      z-index: 1000;
      background: -webkit-linear-gradient(left, #FCECDD , #F7F7F7); /* Safari 5.1 - 6.0 */
      background: -o-linear-gradient(right, #FCECDD, #F7F7F7); /* Opera 11.1 - 12.0 */
      background: -moz-linear-gradient(right, #FCECDD, #F7F7F7); /* Firefox 3.6 - 15 */
      background: linear-gradient(to right, #FCECDD , #F7F7F7); /* 标准的语法（必须放在最后） */
    }
 .menu-line-right{

      flex: 0 0 38px;
      width: 38px;
      height: 10000px;
      margin-top: -20px;
      z-index: 1000;
      background: -webkit-linear-gradient(left, #F7F7F7 , #FCECDD); /* Safari 5.1 - 6.0 */
      background: -o-linear-gradient(right, #F7F7F7 , #FCECDD); /* Opera 11.1 - 12.0 */
      background: -moz-linear-gradient(right, #F7F7F7 , #FCECDD); /* Firefox 3.6 - 15 */
      background: linear-gradient(to right, #F7F7F7 , #FCECDD); /* 标准的语法（必须放在最后） */
    }
    
.el-button+.el-button{
    margin-left: 0;
}

.el-submenu__title i{
    font-size: 22px;
    color: #E47718;
}

